## Settings file was created by plugin NWO_Commander v13.0.6
## Plugin GUID: com.nwo.commander

[General]

## Центр Арены
# Setting type: String
# Default value: 0,0,0
ArenaPoint = 18,44848,70,4991,-331,1539

HubPoint = -32,5243,32,88496,46,42984

