## Settings file was created by plugin NWO_Commander v2.5.1
## Plugin GUID: com.havik.nwo_commander

[AdminCommands]

CustomCommands = /-food:CookedMeat:10|/-kit:SwordIron:1

[ArenaZone]

## X Min
# Setting type: Single
# Default value: 9930
X_Min = 9900

## X Max
# Setting type: Single
# Default value: 10030
X_Max = 10100

## Z Min
# Setting type: Single
# Default value: -2237
Z_Min = 9900

## Z Max
# Setting type: Single
# Default value: -2137
Z_Max = 10100

## Высота пола
# Setting type: Single
# Default value: 44
Y_Level = 500

[General]

## Взнос
# Setting type: Int32
# Default value: 50
EntryFee = 50

