## Settings file was created by plugin NWO_UserSpace v4.6.0
## Plugin GUID: com.havik.nwo_userspace

[General]

## Формат: /команда:префаб:кол-во:откат
# Setting type: String
# Default value: /fox:Silver:10:60 ; /skazka:SurtlingCore:5:120
CustomCommands = /fox:Silver:10:60 ; /skazka:SurtlingCore:5:120

[GraveSystem]

## Защита PVE (мин)
# Setting type: Int32
# Default value: 30
PveLockMinutes = 30

## Защита PVP (мин)
# Setting type: Int32
# Default value: 30
PvpLockMinutes = 30

[Localization]

## Язык (RU/EN)
# Setting type: String
# Default value: RU
Language = RU

