## Settings file was created by plugin NWO_WorldEvolvers v1.4.1
## Plugin GUID: com.havik.nwo_evolver

[1. World]

## Радиус защиты зон.
# Setting type: Single
# Default value: 30
ProtectionRadius = 30

## Цели для слежения.
# Setting type: String
# Default value: Crypt,SunkenCrypt,GoblinCamp,BurialChamber
TargetPrefabs = Crypt,SunkenCrypt,GoblinCamp,BurialChamber

[2. Respawn]

## Проверка локаций (сек).
# Setting type: Single
# Default value: 10
CheckInterval = 10

## Дней до перерождения.
# Setting type: Int32
# Default value: 3
DaysToRespawn = 3

[3. Threats]

## Шанс (+1 звезда) в зоне.
# Setting type: Int32
# Default value: 25
BonusLevelChance = 25

## Максимум звезд.
# Setting type: Int32
# Default value: 2
MaxStars = 2

[4. Atmosphere]

## Текст при входе в зону.
# Setting type: String
# Default value: ЗДЕСЬ ПРАВИТ ВРЕМЯ...
EntranceMessage = ЗДЕСЬ ПРАВИТ ВРЕМЯ...

