## Settings file was created by plugin People Net Fix v2.1.0
## Plugin GUID: com.peoplecodelab.netfix

[1. LootStacker]

## Радиус объединения предметов.
# Setting type: Single
# Default value: 5
StackRadius = 5

## Включить автоматический стакинг.
# Setting type: Boolean
# Default value: true
Enabled = true

