## Settings file was created by plugin NWO Magic Ward v4.1.1
## Plugin GUID: com.nwo.magicward

[1. General]

## Радиус действия магического купола.
# Setting type: Single
# Default value: 20
WardRadius = 20

## Цена защиты за 1 ед. урона (списывается золото).
# Setting type: Int32
# Default value: 1
GoldCost = 1

EnableFireplace = true

[2. Recipe]

## Рецепт: ИмяПрефаба:Количество. Например: Stone:20,Wood:10
# Setting type: String
# Default value: FineWood:10,SurtlingCore:5,GreydwarfEye:10
Recipe = FineWood:10,SurtlingCore:5,GreydwarfEye:10

[3. Inventory]

## Ширина сундука варда.
# Setting type: Int32
# Default value: 3
Width = 3

## Высота сундука варда.
# Setting type: Int32
# Default value: 2
Height = 2

[General]

WardRadius = 20

GoldCost = 1

